*{
    margin: 0;
    padding: 0;
}

::selection{
    background-color: orange;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    font-size: 40px;
    margin:0 50px ;
}